<div class="w-full border border-gray-200 shadow-sm rounded-md flex flex-col px-4 py-2 md:py-4 md:px-8">
    @if (loading()) {
    <app-skeleton shape="rectangle" width="65%" height="24px"></app-skeleton>
    <div class="flex w-full justify-between items-center mt-4">
        <app-skeleton shape="rectangle" width="45%" height="48px"></app-skeleton>
        <app-skeleton shape="circle" size="50px"></app-skeleton>
    </div>
    } @else {
    <span class="text-lg md:text-2xl text-gray-500">
        {{ title() | translate }}
    </span>
    <div class="flex w-full justify-between items-center">
        <span class="text-2xl 2xl:text-4xl md:text-5xl font-bold text-gray-800">{{ value() }}</span>
        <lucide-icon [name]="iconName()" class="shrink-0" [color]="color() || '#ff8200'" size="50"></lucide-icon>
    </div>
    }
</div>
