<div class="p-8 flex flex-col">
    <header class="w-full flex items-center justify-between">

        <div class="flex items-center justify-start mb-10 gap-x-4">
            <label for="days" class="font-semibold text-[#3c6194] text-2xl">{{'DASHBOARD.REQ_FILTER'|
                translate}}</label>
            <div class="flex flex-row items-center">
                <select name="request_type" id="request_type" (change)="onRequestTypeChange($event)"
                    class="h-11 border border-gray-300 rounded-lg w-64 pl-2 pr-4">
                    <option value="DE">{{'REQUEST_TYPES.DEFAULT'| translate}}</option>
                    @for (requestType of availableRequestTypes(); track requestType.id) {
                    <option [value]="requestType.id">{{ requestType.name | translate }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="flex flex-col">
            <span class="text-4xl tracking-wider text-[#ff8200] font-semibold">{{'PENDING.TITLE' |
                translate}}</span>
            <span class="text-orange-400">{{'PENDING.DESCRIPTION' | translate}}</span>
        </div>
    </header>
    @if (isLoading()) {
    <div class="py-20 flex justify-center">
        <app-spinner></app-spinner>
    </div>
    } @else if (requests().length > 0) {
    <app-tabla-dinamica [datos]="requests()" [columnas]="columns" [accionesPersonalizadas]="acciones" actionMode="menu"
        [enableFilter]="true" filterField="workflow_current_step.assigned_role.roleName" addLabel="Request" addRoute="/app/settings/newUser" [canAdd]="false"
        [registrosPorPagina]="pageSize()" [loading]="isLoadingTable()">

        <ng-template #cellTemplate let-item let-column="column">
            @if (column.key === 'request_type.name') {
            <app-badge color="blue" [text]="item.request_type.name | uppercase" />
            } @else if (column.key === 'status') {
            <div class="w-fit rounded-lg px-2"
                [style]="`background-color: ${item.workflow_current_step.assigned_role.color +'1A'}; color:${item.workflow_current_step.assigned_role.color}` ">
                <span [class]="`text-center font-semibold`">{{item.workflow_current_step.assigned_role.roleName}}</span>
            </div>
            <!-- <div>
                {{item.workflow_current_step | json}}
            </div> -->
            }
        </ng-template>
    </app-tabla-dinamica>
    <app-workflow-history-drawer [open]="showHistoryDrawer()" [detail]="workflowDetail"
        (closed)="closeHistoryDrawer()"></app-workflow-history-drawer>
    } @else {
    <div class="text-center py-20 text-gray-500">
        <img src="assets/png/TIMKEN-DISABLE-esp.webp" alt="" class="h-92 mx-auto">
        <p class="text-2xl text-[#3c6194] font-semibold">{{'REQUEST_TYPES.DEFAULT_TEXT'| translate}}</p>
    </div>
    }

    <app-modal size="md" titleM="Reason for Rejection" [open]="showDeclineModal()" closeText="Cancelar"
        primaryText="Reject" (openChange)="onDeclineModalChange($event)" (primaryAction)="declineRequest(selectedRequest()!)">
        <div [formGroup]="form">
            <label class="block font-medium text-[#395f93] text-lg">{{'REJECTION.REASON' | translate}}
                <span class="text-red-500 text-lg">*</span>
            </label>
            <textarea placeholder="Add your comments..." formControlName="comments"
                [class]="campoVacio('comments') ? 'border-red-500 focus:ring-red-500 mt-1 block w-full border rounded-md p-2 shadow-sm focus:border-red-500 disabled:bg-gray-100' : 'mt-1 block w-full border border-gray-300 rounded-md p-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 disabled:bg-gray-100'"></textarea>
            @if (campoVacio('comments')) {
            <span class="text-sm text-red-500">{{ getErrorMessage('comments') }}</span>
            }

        </div>

    </app-modal>
</div>