<div class="p-8 flex flex-col">

    <div class="flex items-center justify-start mb-10 gap-x-4">
        <label for="request_type" class="font-semibold text-[#3c6194] text-2xl">{{'DASHBOARD.REQ_FILTER'| translate}}</label>
        <div class="flex flex-row items-center">
            <select name="request_type" id="request_type" (change)="onRequestTypeChange($event)"
                class="h-11 border border-gray-300 rounded-lg w-64 pl-2 pr-4">
                <option value="">{{'REQUEST_TYPES.DEFAULT'| translate}}</option>
                @for (requestType of availableRequestTypes(); track requestType.id) {
                <option [value]="requestType.id">{{ requestType.name | translate }}</option>
                }
            </select>
        </div>
    </div>

    @if (selectedRequestType === 'credits') {
        <app-credit-form></app-credit-form>
    }


    <div *ngIf="this.selectedRequestType ===''" class="text-center py-20 text-gray-500">
        <img src="assets/png/TIMKEN-DISABLE-esp.webp" alt="" class="h-92 mx-auto">
        <p class="text-2xl text-[#3c6194] font-semibold">{{'REQUEST_TYPES.DEFAULT_TEXT'| translate}}</p>
    </div>

</div>