<footer class="w-full bg-[#ff8200] text-white">
    <div class="flex flex-col px-4 py-8 md:px-8 md:py-2 md:flex-row justify-between items-center">
        <div class="text-sm text-white">
            <p>Copyright ©2026 ITTEC. Tecnología Inteligente. Todos los derechos reservados. | 
                <a href="https://www.ittec.mx/privacidad" class="hover:text-gray-300 hover:underline">
                    Aviso de Privacidad
                </a>
            </p>
        </div>
        <div class="text-sm text-white flex flex-row items-center gap-x-2">
            <img src="assets/svg/logoittec.svg" alt="Logo Timken" class="h-10 w-auto" style="fill: white !important;">
            <div>
                
                <p>Correo para Soporte Técnico: <a href="mailto:mesadeservicio@ittec.mx">mesadeservicio@ittec.mx</a></p>
                <p>
                    (+52) 56 1509 0422 | 
                    <a href="https://www.ittec.mx" class="hover:text-gray-300 hover:underline">
                        www.ittec.mx
                    </a>
                     | <a href="mailto:soluciones@ittec.mx">soluciones@ittec.mx</a></p>
            </div>
        </div>
    </div>
</footer>