<section class="flex flex-col w-full">
    <header class="w-full flex items-center justify-end">
        <div class="flex flex-col">
            <div class="flex items-end justify-center">
                <span class="text-4xl tracking-wider text-[#ff8200] font-semibold" routerLink="/app/settings/users">User Management</span>
                <lucide-icon name="chevron-right" color="#395f93" size="40" class="my-auto"></lucide-icon>
                <span class="text-3xl tracking-wider text-[#ff8200] font-semibold underline">{{ isEdit() ? 'Edit User' : 'New User' }}</span>
            </div>
            <span class="text-orange-400">Create, Edit and Manage User Accounts</span>
        </div>
    </header>
    <div class="px-10">
        <form [formGroup]="form" (ngSubmit)="saveUser()"
            class="w-full flex flex-col gap-y-10 items-center justify-center bg-white shadow-lg rounded-md p-20 border border-gray-200  mt-20">
            @if (isLoading()) {
                <app-spinner size="large"></app-spinner>
            } @else {
                <span class="text-3xl font-semibold text-[#395f93]">Formulario de registro</span>
                <div class="w-full grid grid-cols-3 gap-8">
                    <div>
                        <label class="block font-medium text-[#395f93] text-lg">{{'USER_FORM.FULLNAME' | translate}}
                            <span class="text-red-500 text-lg">*</span>
                        </label>
                        <input type="text" placeholder="Juan Perez" formControlName="fullName"
                            [class]="campoVacio('fullName') ? 'border-red-500 focus:ring-red-500 mt-1 block w-full border rounded-md p-2 shadow-sm focus:border-red-500 disabled:bg-gray-100' : 'mt-1 block w-full border border-gray-300 rounded-md p-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 disabled:bg-gray-100'">
                        @if (campoVacio('fullName')) {
                        <span class="text-sm text-red-500">{{ getErrorMessage('fullName') }}</span>
                        }
    
                    </div>
                    <div>
                        <label class="block font-medium text-[#395f93] text-lg">{{'USER_FORM.EMAIL' | translate}}
                            <span class="text-red-500 text-lg">*</span>
                        </label>
                        <input type="text" placeholder="example@email.com" formControlName="email"
                            [class]="campoVacio('email') ? 'border-red-500 focus:ring-red-500 mt-1 block w-full border rounded-md p-2 shadow-sm focus:border-red-500 disabled:bg-gray-100' : 'mt-1 block w-full border border-gray-300 rounded-md p-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 disabled:bg-gray-100'">
                        @if (campoVacio('email')) {
                        <span class="text-sm text-red-500">{{ getErrorMessage('email') }}</span>
                        }
    
                    </div>
                    @if(!isEdit()){
                        <div>
                            <label class="block font-medium text-[#395f93] text-lg">{{'USER_FORM.PASSWORD' | translate}}
                                <span class="text-red-500 text-lg">*</span>
                            </label>
                            <div class="relative mt-2">
                                <input [type]="showPassword ? 'password': 'text'" [placeholder]="showPassword ? '********': 'contraseña'"
                                    formControlName="password"
                                    [class]="campoVacio('password') ? 'border-red-500 focus:ring-red-500 mt-1 block w-full border rounded-md p-2 shadow-sm focus:border-red-500 disabled:bg-gray-100' : 'mt-1 block w-full border border-gray-300 rounded-md p-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 disabled:bg-gray-100'">
                                <button (click)="togglePassword()" type="button"
                                    class="absolute inset-y-0 end-0 flex items-center z-20 px-3 rounded-e-md focus:outline-hidden disabled:cursor-not-allowed disabled:opacity-50">
                                    <lucide-icon name="eye" [size]="24" color="#302F2F" [strokeWidth]="1.5"></lucide-icon>
                                </button>
                            </div>
                            @if (campoVacio('password')) {
                            @if (passwordErrors().length > 0) {
                            @for (error of passwordErrors(); track $index) {
                            <span class="text-sm text-red-500 block">• {{ error }}</span>
                            }
                            } @else {
                            <span class="text-sm text-red-500">{{ getErrorMessage('password') }}</span>
                            }
                            }
        
                        </div>
                    }
                    <div>
                        <label class="block font-medium text-[#395f93] text-lg">{{'USER_FORM.ROLE' | translate}}
                            <span class="text-red-500 text-lg">*</span>
                        </label>
                        <select name="role" id="roleId" formControlName="roleId"
                            [class]="campoVacio('roleId') ? 'border-red-500 focus:ring-red-500 mt-1 block w-full border rounded-md p-2 shadow-sm focus:border-red-500 disabled:bg-gray-100' : 'mt-1 block w-full border border-gray-300 rounded-md p-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 disabled:bg-gray-100'">
                            <option value="0">Selecciona un rol</option>
                            @for(item of roles(); track item.id){
                            <option [value]="item.id">{{item.roleName}}</option>
                            }
                        </select>
                        @if (campoVacio('roleId')) {
                        <span class="text-sm text-red-500">{{ getErrorMessage('roleId') }}</span>
                        }
                    </div>
                    <div>
                        <label class="block font-medium text-[#395f93] text-lg">{{'USER_FORM.SUPERVISOR' | translate}}
                            <span class="text-red-500 text-lg">*</span>
                        </label>
                        <select name="user" id="userId" formControlName="supervisorId"
                            [class]="campoVacio('supervisorId') ? 'border-red-500 focus:ring-red-500 mt-1 block w-full border rounded-md p-2 shadow-sm focus:border-red-500 disabled:bg-gray-100' : 'mt-1 block w-full border border-gray-300 rounded-md p-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 disabled:bg-gray-100'">
                            <option value="0">Selecciona un supervisor</option>
                            @for(item of users(); track item.id){
                            <option [value]="item.id">{{item.fullName}} ({{item.role.roleName}})</option>
                            }
                        </select>
                        @if (campoVacio('supervisorId')) {
                        <span class="text-sm text-red-500">{{ getErrorMessage('supervisorId') }}</span>
                        }
                    </div>
                    <div>
                        <label class="block font-medium text-[#395f93] text-lg">{{'USER_FORM.PREF_LANGUAGE' | translate}}
                            <span class="text-red-500 text-lg">*</span>
                        </label>
                        <select name="language" id="languageId" formControlName="preferredLanguage"
                            [class]="campoVacio('preferredLanguage') ? 'border-red-500 focus:ring-red-500 mt-1 block w-full border rounded-md p-2 shadow-sm focus:border-red-500 disabled:bg-gray-100' : 'mt-1 block w-full border border-gray-300 rounded-md p-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 disabled:bg-gray-100'">
                            <option value="DEF">{{'USER_FORM.SELECT_LANGUAGE' | translate}}</option>
                            <option value="es">{{'USER_FORM.SPANISH' | translate}}</option>
                            <option value="en">{{'USER_FORM.ENGLISH' | translate}}</option>
    
                        </select>
                        @if (campoVacio('preferredLanguage')) {
                        <span class="text-sm text-red-500">{{ getErrorMessage('preferredLanguage') }}</span>
                        }
                    </div>
                </div>
                <button
                    class="text-white rounded-md bg-[#395f93] px-4 py-2 mx-auto w-fit hover:cursor-pointer hover:bg-[#1c6ce6] disabled:opacity-70 disabled:cursor-not-allowed flex items-center justify-center gap-2"
                    type="submit"
                    [disabled]="isLoading()">
                    
                    <span [class.hidden]="isLoading()">{{ isEdit() ? 'Editar' : 'Registrar' }}</span>
                </button>
            }
        </form>
    </div>
</section>