<section class="flex flex-col">
    <!-- Encabezado principal -->
    <header class="w-full flex flex-col md:flex-row justify-between items-center">
        <span class="text-4xl text-[#ff8200] font-semibold">{{'DASHBOARD.TITLE'| translate}}</span>
        <div class="flex flex-col md:flex-row gap-x-2 gap-y-2 mt-4 md:mt-0 w-full md:w-fit">
            <div class="flex flex-col items-start justify-center w-full md:w-fit">
                <label for="days" class="font-semibold text-[#ff8200]">{{'DASHBOARD.REQ_FILTER'| translate}}</label>
                <div class="flex flex-row items-center w-full">
                    <select name="request_type" id="request_type"
                        class="h-11 border border-gray-300 rounded-lg w-full md:w-64 pl-2 pr-4"
                        [value]="selectedRequestType()" (change)="onRequestTypeChange($event)">
                        <option value="1">{{'REQUEST_TYPES.CREDIT'| translate}}</option>
                        <option value="2">{{'REQUEST_TYPES.DEBIT'| translate}}</option>
                        <option value="3">{{'REQUEST_TYPES.AUDITOR_CREDIT'| translate}}</option>
                        <option value="4">{{'REQUEST_TYPES.AUDITOR_DEBIT'| translate}}</option>
                        <option value="5">{{'REQUEST_TYPES.RE_INVOICING'| translate}}</option>
                        <option value="6">{{'REQUEST_TYPES.MATERIAL_RETURN'| translate}}</option>
                        <option value="todas">{{'REQUEST_TYPES.ALL_TYPES'| translate}}</option>
                    </select>
                </div>
            </div>
            <div class="flex flex-col items-start justify-center w-full md:w-fit">
                <label for="days" class="font-semibold text-[#ff8200]">{{'DASHBOARD.SEL_DATE'| translate}}</label>
                <div class="flex flex-col md:flex-row items-center w-full">
                    <div class="flex flex-row items-center w-full">
                        <select name="days" id="days"
                            class="h-11 border border-gray-300 rounded-lg w-full md:w-64 pl-2 pr-4"
                            [value]="selectedDateOption()" (change)="onDateOptionChange($event)">
                            <option value="1">{{'DASHBOARD.DATE_OPTION1'| translate}}</option>
                            <option value="2">{{'DASHBOARD.DATE_OPTION2'| translate}}</option>
                            <option value="custom">{{'DASHBOARD.DATE_OPTION3'| translate}}</option>
                        </select>

                        <lucide-icon name="calendar-clock" class="shrink-0" color="#ff8200" size="30"></lucide-icon>
                    </div>
                    @if (selectedDateOption() === 'custom') {
                    <div class="flex flex-row items-start gap-x-4 md:gap-x-2 mt-2 w-full md:w-fit md:-mt-4 ml-2">
                        <div class="flex flex-col w-1/2 md:w-fit">
                            <label class="font-semibold text-[#ff8200]">{{'DASHBOARD.START_DATE'| translate}}</label>
                            <input type="date" [value]="startDate()" (change)="onStartDateChange($event)"
                                class="h-11 border border-gray-300 rounded-lg w-full md:w-64 pl-2 pr-4">
                        </div>
                        <div class="flex flex-col w-1/2 md:w-fit">
                            <label class="font-semibold text-[#ff8200]">{{'DASHBOARD.END_DATE'| translate}}</label>
                            <input type="date" [value]="endDate()" (change)="onEndDateChange($event)"
                                class="h-11 border border-gray-300 rounded-lg w-full md:w-64 pl-2 pr-4">
                        </div>
                    </div>
                    }
                </div>


            </div>
        </div>

    </header>
    <section class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
        @if (isLoadingChart()) {
        @for (_ of [1, 2, 3]; track $index) {
        <app-stat-card [loading]="true"></app-stat-card>
        }
        } @else {
        @for (card of statCards; track $index) {
        <app-stat-card [title]="card.title" [value]="card.value" [color]="card.color" [iconName]="card.iconName" [loading]="false"></app-stat-card>
        }
        }
    </section>
    <section class="bg-white border border-gray-300 shadow-sm rounded-md mt-4 px-2 py-4 md:p-4 flex flex-col w-full">
        <span class="text-center text-3xl text-gray-700 font-light">
            {{ chartHeader() }}
        </span>
        <div class="w-full h-125 flex items-center justify-center mx-auto">
            @if(isLoadingChart()){
            <app-spinner />
            } @else {
            <canvas baseChart [data]="lineChartData()" [options]="lineChartOptions" [type]="'line'">
            </canvas>
            }
        </div>

    </section>
    <section class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
        @for(section of recentRequests; track section.title + $index) {
        <div class="h-fit shadow-sm border border-gray-300 rounded-md px-4 py-4 md:px-10 md:py-6">
            <span class="text-xl md:text-2xl text-gray-700 font-normal">{{ section.title }}</span>
            <div class="w-full flex flex-col gap-y-3 mt-4">
                @for(request of section.requests; track request.id) {
                <div class="flex flex-col px-1 py-2 md:px-4 border border-gray-200 rounded-md hover:shadow-md">
                    <div class="w-full flex flex-col">
                        <div class="w-full flex items-center justify-between text-sm md:text-md">
                            <span class="text-gray-700">
                                {{ request.title }}
                            </span>
                            <span class="mr-1">
                                {{ request.amount }}
                            </span>
                        </div>
                    </div>
                    <div class="w-full flex items-center justify-between mt-1">
                        <span class="text-sm md:text-md text-gray-400">
                            {{ request.client }}
                        </span>
                        <app-badge [color]="request.badgeColor" [text]="request.badgeText" />
                    </div>
                </div>
                }
            </div>
        </div>
        }
    </section>
</section>